@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

:root {
  --dark-bg: #202d36;
  --dark-bg-light: #2b3743;
  --white-bg: #fafafa;
  --white-bg-light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.header.light-mode {
  background-color: var(--white-bg);
  color: black;
  box-shadow: 0px 3px 6px gray;
}

.header.light-mode a {
  color: black;
}

.main-section.light-mode {
  background-color: var(--white-bg-light);
  color: black;
}

.loading.light-mode {
  background-color: var(--white-bg);
  color: black;
}

.country.light-mode {
  background-color: var(--white-bg);
  color: black;
}

.search-bar.light-mode .search-left input[type="text"] {
  background-color: var(--white-bg);
  color: black;
}

.search-bar.light-mode .search-left input[type="text"]::placeholder {
  color: black;
}

.search-bar.light-mode .search-right {
  background-color: var(--white-bg);
}

.search-bar.light-mode .search-right .filter {
  background-color: var(--white-bg);
  color: black;
}

.search-bar.light-mode .search-right label {
  color: black;
}

.selected-country.light-mode {
  background-color: var(--white-bg);
  color: black;
}
.selected-country.light-mode .back-btn {
  background-color: var(--white-bg);
  color: black;
}

.selected-country.light-mode .borders small {
  background-color: var(--white-bg);
  color: black;
}

.selected-country.light-mode .img img {
  box-shadow: 0px 0px 10px gray;
}
